{% extends 'blog/base.html' %}
{% block content %}
	<h2>{{ post.title }}</h2>
	<p>{{ post.content }}</p>
	<p>Published on {{ post.date_published }}</p>
	<p>Author: {{ post.author }}</p>
	<a href="{% url 'post_edit' post.id %}">Edit</a>
	<span> | </span>
	<a href="{% url 'post_delete' post.id %}">Delete</a>
	<span> | </span>
	<a href="{% url 'comment_new' post.id %}">Add Comment</a>
	<h3>Comments</h3>
	{% for comment in post.comments.all %}
	<div style="padding-left: 20px; margin-top: 20px;">
	 	<h4 style="margin: 5px">{{ comment.content }}</h4>
		<span>Published on {{ comment.created_at }}</span>
		<span>Author: {{ comment.author }}</span>
		{% if comment.author == request.user %}
			<a href="{% url 'comment_edit' comment.id %}">Edit</a>
			<span> | </span>
			<a href="{% url 'comment_delete' comment.id %}">Delete</a>  
		{% endif %}
	</div>
		
	{% endfor %}
{% endblock %}